{% load url from future %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href='{% static "account/style.css" %}'/>
	<link rel="icon" type="image/png" href="{% static "misc/favicon_v7.png" %}">
<style>
html,
body {
  height: 100%;
  /*background-color: #333;*/
}
</style>
</head>
<body class="login_body">
{% block body %}

    <!--{% if messages %}
        <div>
            <strong>Messages:</strong>
            <ul>
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}-->
    {% block content %}
    {% endblock %}
{% endblock %}
{% block extra_body %}
{% endblock %}
</body>
</html>
