/* Responsive Post Images */
.post-images{
	width:100%;
}

@media(min-width:992px){
.post-images{
	width:75%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.enlarged{
	width:100%;
}
}

/* Responsive Videos */
.vimeo-video{
    width:100%;
    height:350px;
}

@media (min-width: 768px) {
    .vimeo-video{
        width:500px;
        height:500px;
    }   
}


