{% extends "content_management/content_management_base.html" %}
{% load static %}
{% block body %}

<script type="text/javascript" src="{% static "dajax/jquery.dajax.core.js" %}"></script>
<div class="container-fluid" style="text-align:center; padding-top:150px; background-image:url('{% static "html/img/learn.jpg" %}'); background-repeat:no-repeat; background-position:center top;" >
	<div class="row" style="background-image:'{% static "html/img/learn.jpg" %}'">
		<h1 style="margin-top:50px; color:blue;">I want to study ...</h1>
		<div class="col-sm-3 col-sm-offset-3">
			<select id="combo1" style="margin-top:10px;" onchange="Dajaxice.content_management.update_subcategories(my_callback, {'category_id':this.value})" size="1" class="form-control" >
				<option value="0">Select Topic</option>
				{% if level1_categories %}
				{% for category in level1_categories %}
				<option value={{ category.id }}>{{ category.name }}</option>
				{% endfor %}
				{% endif %}
			</select>
		</div>
		
		<div class="col-sm-3">
			<select id="combo2" style="margin-top:10px;" size="1" class="form-control" disabled>
				<option>Select Sub-Topic </option>
			</select>
		</div>

		<div class="col-sm-1">
			<a id="go" href = "" ><button type="button" style="margin-top:10px;" class="btn btn-default" >Go....</button></a>
		</div>
	</div>
	<hr>
	<div class="row" style="padding-top:50px;">
		<div class="col-md-3">
			<a href="#" class="thumbnail">
				<img src='{% static "html/img/accounts.jpg" %}' style="min-height:100px; height=100px">
			</a>
		</div>
		
		<div class="col-md-3">
			<a href="#" class="thumbnail">
				<img src='{%static "html/img/maths.jpg" %}' style="min-height:195px; height=100px" >
			</a>
		</div>

		<div class="col-md-3">
			<a href="#" class="thumbnail">
				<img src='{%static "html/img/tax.jpg" %}' style="min-height:195px;" >
			</a>
		</div>
		<div class="col-md-3">
			<a href="#" class="thumbnail">
				<img src='{%static "html/img/language.jpg" %}' style="height:198px; width:100%;" >
			</a>
		</div>
</div>

<script> 
function my_callback(data){
	Dajax.process(data);
			$('#combo2').prop("disabled", false);
  			$('#go').attr('href', $('#combo2').val())
		}
 $('#combo2, #combo1').on('change', function() {
             $('#go').attr('href', $('#combo2').val())
         })

</script>
{% endblock %}

