{% extends 'content_management/content_management_dashboard_base.html' %}
{% block title %} {{ type|capfirst }} : dashboard {% endblock %}
{% block body %}     

<div class="container">
<ul class="nav nav-pills">
{% ifequal type "published" %} 
  <li role="presentation" class="active"><a href="/dashboard/posts/published/">Published</a></li>
  <li role="presentation"><a href="/dashboard/posts/pending/">Pending</a></li>
  <li role="presentation"><a href="/dashboard/posts/drafts/">Drafts</a></li>
  <li role="presentation"><a href="/dashboard/posts/trash/">Trash</a></li>
{% endifequal %}
{% ifequal type "pending" %} 
  <li role="presentation"><a href="/dashboard/posts/published/">Published</a></li>
  <li role="presentation" class="active"><a href="/dashboard/posts/pending/">Pending</a></li>
  <li role="presentation"><a href="/dashboard/posts/drafts/">Drafts</a></li>
  <li role="presentation"><a href="/dashboard/posts/trash/">Trash</a></li>
{% endifequal %}  
{% ifequal type "drafts" %} 
  <li role="presentation"><a href="/dashboard/posts/published/">Published</a></li>
  <li role="presentation"><a href="/dashboard/posts/pending/">Pending</a></li>
  <li role="presentation" class="active"><a href="/dashboard/posts/drafts/">Drafts</a></li>
  <li role="presentation"><a href="/dashboard/posts/trash/">Trash</a></li>
{% endifequal %}  
{% ifequal type "trash" %} 
  <li role="presentation"><a href="/dashboard/posts/published/">Published</a></li>
  <li role="presentation"><a href="/dashboard/posts/pending/">Pending</a></li>
  <li role="presentation"><a href="/dashboard/posts/drafts/">Drafts</a></li>
  <li role="presentation" class="active"><a href="/dashboard/posts/trash/">Trash</a></li>
{% endifequal %}  

<a class="btn btn-default" href="/create/post/">Create New Post</a>
<a class="btn btn-default" href="/reorder/">Reorder Posts</a>
</ul>
         {% if warnings %}
        <div class="alert alert-dismissable alert-warning">
            <button data-dismiss="alert" class="close" type="button">×</button>
            <h4>Warning!</h4>
             {% for warning in warnings %}
              <p> {{ warning }} </p>
             {% endfor %}
        </div>
         {% endif %}

		<div class="panel panel-default">
			<div class="panel-heading text-center"></div>

			{% if posts %}
			{% regroup posts by category.url as post_grouped %}
			<form id="action_form" method="POST">
			{% csrf_token %}
				{% for post_group in post_grouped %}
					<p class="lead text-center">{{ post_group.grouper }}</p>
					<table class="table">
						{% for post in post_group.list %}
						<tr>
							<td><input type="checkbox" name=id{{ post.id }} value={{ post.id }} /></td>
							<td>{{ post.post_name }}</td>
							<td><a href="/edit/post/{{ post.id }}/">Edit</a></td>
						<tr>
						{% endfor %}
					</table>
				{% endfor %}
			{% if type == "published" or type == "pending" %}
            <button type="submit"  name="action" value="draft" >Send to Drafts</button>
            <button type="submit"  name="action" value="trash" >Move to Trash</button>
        {% elif type == "drafts" %}
            <button type="submit"  name="action" value="trash" >Move to Trash</button>
        {% elif type == "trash" %}
            <button type="submit"  name="action" value="delete" > Delete Permanently</button>
            <button type="submit" name="action" value="draft" > Move to Drafts </button>
        {% endif %}
	</form>	
			{% else %}
			<div class="panel-body">No posts in this category</div>
			{% endif %}

		</div>

</div>
{% endblock %}
