{% extends "content_management/content_management_base.html" %}
{% load static %}
{% block head_title %} {{ requested_category.name|capfirst }} {% endblock %}

{% block body %}
<div class="container">
<div class="row">
	<div class="col-sm-12" id="categories">
			<a href="/subjects{{requested_category.parent.url}}"><i class="fa fa-chevron-left"></i> {{requested_category.parent.name|capfirst}}</a>
	<h1 class="text-center" >{{ requested_category.name|capfirst }}</h1>
	<p>{%autoescape off %} {{ requested_category.description }} {% endautoescape %}</p>
</div>
</div>
<div class="row">
<div class="col-md-12" id="subcategories" >
{% if results %}
	{% if result_type == "post" %}
		{% regroup results by sequence as grouped_results %}
			{% for grouped_result in grouped_results %}
				<div class="row">
					<div class="col-xs-12">
						{% if grouped_result.list|length > 1 %}
							{% for result in grouped_result.list %}
								{% if forloop.first %}
									<h2><a  href ="/subjects{{ result.url }}">{{ result.post_name|capfirst }}</a></h2>
								{% endif %}
								<p><a  href ="/subjects{{ result.url }}author/{{ result.author.username }}">{{ result.post_name|capfirst }} by {{result.author.username}}</a></p>
							{% endfor %}
						{% else %}
							{% for result in grouped_result.list %}
								<h2><a  href ="/subjects{{ result.url }}author/{{ result.author.username }}">{{ result.post_name|capfirst }}</a></h2>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			<hr>
			{% endfor %}
	{% elif result_type == "category" %}
		
				{% for result in results %}
					{% if result.parent == requested_category %}

					<hr>
					<h3 class="maincategory"><a  href="/subjects{{result.url}}">{{ result.name|capfirst }}</a></h3>
					{% else%}
				<span class="subcategory">&#9899;&nbsp;<a  href="/subjects{{result.url}}">{{result.name|capfirst}}</a>&nbsp;</span>
							{% endif %}
						{% endfor %}
							<hr>
				{% endif %}		
		{% else %}
			<div class="jumbotron text-center">
				<h2> Coming Soon </h2>		
				<p class="lead">Content is being added. Please visit again soon.</p>
				<hr>
			</div>
		{% endif %}
	</div>
</div>


{% endblock %}
