{% extends "content_management/content_management_base.html" %}

{% load static %}

{% block head_title %} {% if requested_post %} {{ requested_post.post_name|capfirst }} {% else %} {{ requested_posts.0.post_name|capfirst }} {% endif%} {% endblock %}
{% block navbar_header %} 
<a class="visible-sm visible-xs navbar-brand" href="#sibblings"><i class="fa fa-chevron-left"></i></a>
{% endblock %}

{% block body %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
<style>
body{
background-color:#f1f1f1;
}
.bg-white{
background-color:white;
box-shadow:0 1px 2px rgba(0,0,0,.1);
border-color:#f1f1f1;
border-radius:3px;
}
.answer{
color:blue;
}
.question{
cursor:pointer;
color:green;
}
.questionanswer{
border:2px solid black;
margin-top:5px;
}


.post-images{
width:100%;
}
@media(min-width:992px){
.post-images{
width:75%;
display:block;
margin-left:auto;
margin-right:auto;
}
.enlarged{
width:100%;
}
}
</style>

<div class="container" >
	<div class="row">
		{% if requested_posts %}
			<div class="page-header">
				<a href="/subjects{{requested_post.category.url }}"><i class="fa fa-chevron-left"></i> {{requested_post.category.name|capfirst }}</a>
				<h3 class="text-center">{{ requested_post.post_name|capfirst }}</h3>
			</div>
			{% for post in requested_posts %}		
				<div class="well well-lg">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"><a href='/subjects{{post.url}}author/{{post.author.username}}'>{{ post.post_name|capfirst }}: {{post.post_name|capfirst}}</a></h3>{{ post.author.username }}
						</div>
					</div>									
				</div>
			{% endfor %}
		{% else %}

		<div class="col-md-9">
				<ol class="breadcrumb" style="background-color:#f1f1f1;">
					{% if requested_post.category.parent.parent %}
					<li><a href="/subjects{{requested_post.category.parent.parent.url }}">{{requested_post.category.parent.parent.name | capfirst}}</a></li>
					{% endif %}
					{% if requested_post.category.parent %}
					<li><a href="/subjects{{requested_post.category.parent.url }}">{{requested_post.category.parent.name|capfirst}}</a></li>
					{% endif %}
					<li class="active"><strong>{{requested_post.category.name | capfirst}}</strong></li>
				</ol>
			<div id="content" style="padding-left:10px;">
				<div class="bg-white">
					<h3 class="text-center" style="padding-top:5px;">{{ requested_post.post_name|title }}</h3>
					<p style="color:#999; padding-left:6px;">{{requested_post.date_time_created|date}} by {{requested_post.author.username|title}}</p>	
				</div>
				<div class="post_content bg-white">
				{% autoescape off %}
					{{ requested_post.content }}
				{% endautoescape %}
				</div>
			</div>
			<ul class="pager">
				<li id="next" class="disabled"><a class="next" href="">Next &rarr;</a></li>					
			</ul>
{% if requested_post.transcript %}
<div class="text-center">
<hr>
<p class="lead">Transcript</p>

<p id="transcript" style="text-align:left;">{{ requested_post.transcript }}</p>
<button class="btn btn-default " id="show-more">Show More</button>

</div>
{% endif %}
		</div>
		
		

		<div class="col-md-3">
			{% if sibbling_posts %}
				<div class="list-group" style="padding-top:20px;">
        			<span href="#" class="list-group-item text-center">
          				<strong style="font-size:20px;"><a href="/subjects{{ requested_post.category.parent.url }}">{{ requested_post.category.name|capfirst }}</a></strong></span> 
            			<span class="pull-right" id="slide-submenu">
                			<i class="fa fa-times"></i>
        				</span>
					<div id="sibblings">	
						{%for post in sibbling_posts %}
							{% if post.url == requested_post.url and post.author == requested_post.author %}
								<a class='list-group-item active' href='/subjects{{post.url}}author/{{post.author.username}}'>{{post.post_name|capfirst}}</a>
							{% else %}
								<a class='list-group-item ' href='/subjects{{ post.url }}author/{{ post.author.username }}'> {{post.post_name|capfirst}}</a>
							{% endif %}	
						{% endfor %}
					</div>
				</div>
			{% endif %}
			{% if next_category %}
				<ul class="pager">
					<li ><a href="/subjects{{ next_category.url }}">{{next_category.name|title}}&rarr;</a></li>					
				</ul>
			{% endif %}
		</div>
{% endif %}
</div>
</div>
{% endblock %}
{% block scripts %}
<script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>

<script>
//ques ans
$(document).ready(function(){
	$(".question>i").addClass("fa fa-caret-right");
    $(".answer").addClass("hidden");
});
$(document).on('click',".question", function(){
    var caret = $(this).find('i');
    if (caret.hasClass("fa-caret-right")){
        caret.removeClass("fa-caret-right");
        caret.addClass("fa-caret-down");
    }
    else if (caret.hasClass("fa-caret-down")){
        caret.removeClass("fa-caret-down");
        caret.addClass("fa-caret-right");
    }
    $(this).next('.answer').toggleClass("hidden");
});


    $(function() {
      $( "#questions" ).accordion({
      heightStyle:"content", collapsible:true
      });
    });
</script>
			<script>
				next = $("#sibblings .active").next();
				next_category = "{{next_category.id}}";
				if (next.length>0){
					$(".pager #next").removeClass("disabled");
					$(".pager .next").html( next.html() + "&rarr;");
					$(".pager .next").attr("href", next.attr("href"));
				}
				else if(next_category){
					$(".pager #next").removeClass("disabled");
					$(".pager .next").html("{{next_category.name|title}}&rarr;");
					$(".pager .next").attr("href", "/subjects{{next_category.url}}");
				}





$('#transcript').css({height:'30px', overflow:'hidden'});
$('#show-more').on('click', function() {
    var $this = $('#transcript');
    if ($this.data('open')) {
        $this.animate({height:'30px'});
        $this.data('open', 0);
		$('#show-more').html("Show More");

    }
    else {
        $this.animate({height:'100%'});
        $this.data('open', 1);
		$('#show-more').html("Show Less");
    }
});

$(document).ready(function(){
	$(".post-images").click(function(){
		$(this).toggleClass('enlarged');
	});
});

			</script>
{% endblock %}
