{% extends "content_management/content_management_base.html" %}

{% load static %}

{% block head_title %} {% if requested_post %} {{ requested_post.post_name|capfirst }} {% else %} {{ requested_posts.0.post_name|capfirst }} {% endif%} {% endblock %}
{% block navbar_header %} 
<a class="visible-sm visible-xs navbar-brand" href="#sibblings"><i class="fa fa-chevron-left"></i></a>

{{ requested_post.author.username }} 
{% endblock %}

{% block body %}
<style>
.post-images{
width:100%;
}
@media(min-width:992px){
.post-images{
width:75%;
display:block;
margin-left:auto;
margin-right:auto;
}
.enlarged{
width:100%;
}
}
</style>

<div class="container">
	<div class="row">
		{% if requested_posts %}
			<div class="page-header">
				<a href="/subjects{{requested_post.category.url }}"><i class="fa fa-chevron-left"></i> {{requested_post.category.name|capfirst }}</a>
				<h3 class="text-center">{{ requested_post.post_name|capfirst }}</h3>
			</div>
			{% for post in requested_posts %}		
				<div class="well well-lg">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"><a href='/subjects{{post.url}}author/{{post.author.username}}'>{{ post.post_name|capfirst }}: {{post.post_name|capfirst}}</a></h3>{{ post.author.username }}
						</div>
					</div>									
				</div>
			{% endfor %}
		{% else %}

		<div class="col-md-9">
			<div id="content" style="padding-left:10px; ">
				<link rel="stylesheet" type="text/css" href="{% static "html/css/cke-editor.css" %}"/>
				<ol class="breadcrumb" style="background-color:white;">
					{% if requested_post.category.parent.parent %}
					<li><a href="/subjects{{requested_post.category.parent.parent.url }}">{{requested_post.category.parent.parent.name | capfirst}}</a></li>
					{% endif %}
					{% if requested_post.category.parent %}
					<li><a href="/subjects{{requested_post.category.parent.url }}">{{requested_post.category.parent.name|capfirst}}</a></li>
					{% endif %}
					<li class="active">{{requested_post.category.name | capfirst}}</li>
				</ol>
				<div class="">

					<h3 style="text-align:center;">{{ requested_post.post_name|capfirst }}</h3>
				</div>
				<div class="post_content">
				{% autoescape off %}
					{{ requested_post.content }}
				{% endautoescape %}
				</div>
			</div>
			<ul class="pager">
				<li id="next" class="disabled"><a class="next" href="">Next &rarr;</a></li>					
			</ul>
{% if requested_post.transcript %}
<div class="text-center">
<hr>
<p class="lead">Transcript</p>

<p id="transcript" style="text-align:left;">{{ requested_post.transcript }}</p>
<button class="btn btn-default " id="show-more">Show More</button>

</div>
{% endif %}
		</div>
		
		

		<div class="col-md-3">
			{% if sibbling_posts %}
				<div class="list-group" style="padding-top:20px;">
        			<span href="#" class="list-group-item text-center">
          				<strong style="font-size:20px;"><a href="/subjects{{ requested_post.category.parent.url }}">{{ requested_post.category.name|capfirst }}</a></strong></span> 
            			<span class="pull-right" id="slide-submenu">
                			<i class="fa fa-times"></i>
        				</span>
					<div id="sibblings">	
						{%for post in sibbling_posts %}
							{% if post.url == requested_post.url and post.author == requested_post.author %}
								<a class='list-group-item active' href='/subjects{{post.url}}author/{{post.author.username}}'>{{post.post_name|capfirst}}</a>
							{% else %}
								<a class='list-group-item ' href='/subjects{{ post.url }}author/{{ post.author.username }}'> {{post.post_name|capfirst}}</a>
							{% endif %}	
						{% endfor %}
					</div>
				</div>
			{% endif %}
		</div>
{% endif %}
</div>
</div>
{% endblock %}
{% block scripts %}
			<script>
				next = $("#sibblings .active").next();
				if (next.length>0){
					$(".pager #next").removeClass("disabled");
					$(".pager .next").html( next.html() + "&rarr;");
					$(".pager .next").attr("href", next.attr("href"));
				}





$('#transcript').css({height:'30px', overflow:'hidden'});
$('#show-more').on('click', function() {
    var $this = $('#transcript');
    if ($this.data('open')) {
        $this.animate({height:'30px'});
        $this.data('open', 0);
		$('#show-more').html("Show More");

    }
    else {
        $this.animate({height:'100%'});
        $this.data('open', 1);
		$('#show-more').html("Show Less");
    }
});

$(document).ready(function(){
	$(".post-images").click(function(){
		$(this).toggleClass('enlarged');
	});
});

			</script>
{% endblock %}
