<!DOCTYPE html>
<html lang="en">
{% load static %}
	<head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<title>{% block title %} {% endblock %}</title>
    	<link rel="stylesheet" type="text/css" href="{% static "html/bootstrap/css/bootstrap.min.css" %}" />
    	<link rel="stylesheet" type="text/css" href="{% static "html/font-awesome/css/font-awesome.min.css" %}" />
  		{% block stylesheets %} {% endblock %} 
	</head>

	<body>
<style>
</style>

		<nav class="navbar navbar-default" style="background-color:#52B4AF;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dashboard-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" style="background-color:white;"></span>
        <span class="icon-bar" style="background-color:white;"></span>
        <span class="icon-bar" style="background-color:white;"></span>
      </button>
	<a class="navbar-brand" href="/" style="background:url(/static/misc/logo_v6.png) no-repeat center center;background-color:#52B4AF;width:90px;height:    44px;color:#fff;display:block;"></a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="dashboard-nav">
      <ul class="nav navbar-nav" >
        <li><a href="#" style="color:white;">Dashboard </a></li>
        <li><a href="/dashboard/posts/published/" style="color:white;">Posts</a></li>
        <li><a href="/dashboard/categories/" style="color:white;">Categories</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color:white;">Settings <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Change Password</a></li>
            <li><a href="#">Change Email-Id</a></li>
            <li><a href="#">Set Email Notifications</a></li>
            <li class="divider"></li>
            <li><a href="#">Delete Account</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ request.user.username }} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Profile</a></li>
            <li><a href="/dashboard/posts/published/">Dashboard</a></li>
			<li class="divider"></li>
            <li><a href="http://teachoo.herokuapp.com/create/post/" target="_blank">Create Post</a></li>
            <li><a href="/create/category/" target="_blank">Create Category</a></li>
            <li class="divider"></li>
            <li><a href="/accounts/logout/">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% block body %} {% endblock %}
		<script type="text/javascript" src="{% static "html/js/jquery-1.10.2.min.js" %}"></script>
		<script type="text/javascript" src="{% static "html/bootstrap/js/bootstrap.min.js" %}"></script>
<script>
        if(window.location.host != 'localhost'){

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60074651-1', 'auto');
  ga('send', 'pageview');
}
</script>


		{% block scripts %} {% endblock %}

	</body>
</html>

