{% extends "content_management/content_management_base.html" %}
{% load static %}

{% block body %}	
<style>
</style>

	<div class="row">
		<div class="col-md-12 text-center">
			<h1><u> Add New Post</u></h1><hr>
		</div>
	</div>

	<div class="row">
		<form id="post_form" method="post" action="/create/post/">
			{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="col-md-2 text-center">
				<h3>Select Category</h3>



<select id="combo1" style="margin-top:10px;" onchange="Dajaxice.content_management.update_parent_categories(my_callback, {'category_id':this.value})" size="1" class="form-control" >
                <option value="0">Select Category</option>
                {% if categories %}
                {% for category in categories %}
				{% if category.level == 1 %}
                <option value={{ category.id }}>{{ category.name }}</option>
				{% endif %}
                {% endfor %}
                {% endif %}
            </select>



<select id="id_category" name="category" style="margin-top:10px;" size="1" class="form-control" disabled>
                <option>Select Sub-Category </option>
            </select>

				{% if form.category.errors %}
					{% for error in form.category.errors %}
						<div class="alert alert-danger">{{error|escape }}</div>
					{% endfor %}
				{% endif %}
			</div>	

		<div class="col-md-8" style="padding:20px 0;">
			<div class="row form-group" >
				<div class="col-md-1 col-sm-1">	
					<label for="{{ form.title.id_for_label }}" class="col-md-2 text-center"> Title:</label>
				</div>
				<div class="col-md-10 col-sm-10">
					<input type="text" name="title" maxlength="70" id="{{ form.title.id_for_label }}" class="form-control" value="{{ form.title.value }}"/>
				</div>
				<div class="col-md-1 col-sm-1">
				</div>
				{% if form.title.errors %}
					{% for error in form.title.errors %}
						<div class="alert alert-danger">{{ error|escape }}</div>	
					{% endfor %}
				{% endif %}
			</div>	

			<div class="row form-group">
				<div class="col-md-1 col-sm-1">
					<label for="{{ form.post_name.id_for_label }}" class="col-md-2"> Post Name:</label>
				</div>
				<div class="col-md-10 col-sm-10">
					<input type="text" name="post_name" maxlength="100" id="{{ form.post_name.id_for_label }}" class="form-control" value="{{ form.post_name.value }}"/>
				</div>
				<div class="col-md-1 col-sm-1">
				</div>
				{% if form.post_name.errors %}
					{% for error in form.post_name.errors %}
						<div class="alert alert-danger">{{error|escape }}</div>
					{% endfor %}
				{% endif %}
			</div>

			<textarea name="content" id="{{ form.content.id_for_label }}">
			{{ form.content.value }}
			</textarea>
			<script src="http://cdn.ckeditor.com/4.4.3/full/ckeditor.js"></script>
			<script>
				// Replace the <textarea id="editor1"> with a CKEditor instance, using default configuration.
				CKEDITOR.replace('content');
			</script>
			{% if form.content.errors %}
             	{% for error in form.content.errors %}
                   	<div class="alert alert-danger">{{error|escape }}</div>
                {% endfor %}
            {% endif %}

		
			<div class="row ">
				<div class="col-md-6">
					<label for="{{ form.metadata.id_for_label }}" class="col-md-2"> Metadata:</label>
					<input type="text" name="metadata" maxlength="140" id="{{ form.metadata.id_for_label }}" class="form-control" value="{{ form.metadata.value }}"/>
				 {% if form.metadata.errors %}
                 	{% for error in form.metadata.errors %}
                    	<div class="alert alert-danger">{{error|escape }}</div>
                    {% endfor %}
                 {% endif %}
				</div>


				<div class="col-md-6">
					<label for="{{ form.excerpt.id_for_label }}" class="col-md-2"> Excerpt:</label>
					<input type="text" name="excerpt" maxlength="500" id="{{ form.excerpt.id_for_label }}" class="form-control" value="{{ form.excerpt.value }}"/>
					{% if form.excerpt.errors %}
                    	{% for error in form.excerpt.errors %}
                        	<div class="alert alert-danger">{{error|escape }}</div>
                    	{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-md-2 text-center" style="padding-top:10px;">
			<div><input type="submit" value="Publish" name="publish" class="btn btn-lg btn-success"/></div><br>	
			<div><input type="submit" value="Save as Draft" name="draft" class="btn btn-lg btn-primary"/></div><br>
			<div><a href="/"><button type="button" class="btn btn-lg btn-danger">Discard</button></a></div>
		</div>
		</form>
	</div>		

<div id="dropbox" style="height:250px; border:2px dashed red;"></div>

    <h1>Upload a file straight to rackspace</h1>

    <p id="url_upload" > </p>
    <label>Pick a file to upload
        <input id="upfile" type="file" name="upfile" onchange="Dajaxice.content_management.return_upload_url(upload_file, {'filename':this.files[0].name})"/>
    </label>

    <div id="progress-bar" class="progress">
        <div class="progress-bar"></div>
    </div>

    <div id="download_url" class="collapse">
        <p>Download URL: {download_url}&amp;filename=jokes-about-your-mom.pdf
        <p><a class="btn btn-default" href="{download_url}&filename=jokes-about-your-mom.pdf">DOWNLOAD</a>
    </div>





{% endblock %}
{% block scripts %}

<script type="text/javascript"> 


// Custom jQuery xhr instance to support our progress bar.

 var xhr_with_progress = function() {
alert("hello");
     var xhr = new XMLHttpRequest();
     xhr.upload.addEventListener("progress",
         function(evt) {
             if (!evt.lengthComputable) return;
             var percentComplete = evt.loaded / evt.total;
             $("#progress-bar div.progress-bar").css('width', String(100*percentComplete) + "%");
         }, false);
     return xhr;
 };





$.support.cors = true;
function upload_file(files){
        
        var file = files[0];
        console.log(files);

        
        alert(file)
        $.ajax({
	 xhr: xhr_with_progress,
            url:"{{upload_url}}",
            type: 'PUT',
            data: file,
            cache: false,
            contentType: false,
            processData: false,


            success: function (data) {
                alert("upload complete");
                console.debug('Upload complete -- do what you want here');
                $("div#download_url").collapse('show');
            },

            error: function (data) {
                console.log(data)
            },
        });
    
}








window.addEventListener("dragover",function(e){
  e = e || event;
  e.preventDefault();
},false);
window.addEventListener("drop",function(e){
  e = e || event;
  e.preventDefault();
},false);


var dropbox = document.getElementById("dropbox"); 
dropbox.addEventListener("drop",drop,false);
function drop(evt){
alert("detected");
evt.stopPropagation();
evt.preventDefault();
 
var files = evt.dataTransfer.files;
 
// Only call the handler if 1 or more files was dropped.
	upload_file(files);
}
/*console.log(files);

        
        alert(files[0])
        $.ajax({
            url:"{{upload_url}}",
            type: 'PUT',
            data: files[0],
            cache: false,
            contentType: false,
            processData: false,


            success: function (data) {
                alert("upload complete");
                console.debug('Upload complete -- do what you want here');
                $("div#download_url").collapse('show');
            },

            error: function (data) {
                console.log(data)
            },
        });



}



$.support.cors = true;
function upload_file(files){
        
        var file = files[0];
        console.log(files);

        
        alert(file)
        $.ajax({
            url:"{{upload_url}}",
            type: 'PUT',
            data: file,
            cache: false,
            contentType: false,
            processData: false,


            success: function (data) {
                alert("upload complete");
                console.debug('Upload complete -- do what you want here');
                $("div#download_url").collapse('show');
            },

            error: function (data) {
                console.log(data)
            },
        });
    
}




function my_callback(data){
    Dajax.process(data);
            $('#id_category').prop("disabled", false);
        }
*/

/*// Custom jQuery xhr instance to support our progress bar.
var xhr_with_progress = function() {
    var xhr = new window.XMLHttpRequest();
    xhr.upload.addEventListener("progress",
        function(evt) {
            if (!evt.lengthComputable) return;
            var percentComplete = evt.loaded / evt.total;
            $("#progress-bar div.progress-bar").css('width', String(100*percentComplete) + "%");
        }, false);
    return xhr;
};





$.support.cors = true;
function upload_file(data){
	Dajax.process(data);

	
        var file = $("#upfile").val;
	console.log(data);

	var file = document.getElementById('upfile').files[0];
	
        alert(file)
        $.ajax({
            url:$('#url_upload').text(),
            type: 'PUT',
            data: file,
            cache: false,
            contentType: false,
            processData: false,


            success: function (data) {
		alert("upload complete");
                console.debug('Upload complete -- do what you want here');
                $("div#download_url").collapse('show');
            },

            error: function (data) {
		console.log(data)
            },
        });
    
}*/

/*
$(document).ready(function() {{
    if (!window['File']) {{
        alert('Browser does not support HTML5 File API. Cannot continue.');
        return;
    }}

    $("#upfile").on('change', function (e) {{
        var file = this.files[0];
        alert(this.files[0].name)
        $.ajax({{
            xhr: xhr_with_progress,
            url: '{upload_url}',
            type: 'PUT',
            data: file,
            cache: false,
            contentType: false,
            processData: false,

            success: function (data) {{
                console.debug('Upload complete -- do what you want here');
                $("div#download_url").collapse('show');
            }},

            error: function (data) {{
            }}
        }});
    }});

}});
*/


</script>


<!--<script type="text/javascript" src="{% static "dajax/jquery.dajax.core.js" %}"></script>-->

{% endblock %}
