{% extends "content_management/content_management_base.html" %}
{% load static %}

{% block body %}	
<style>
</style>

	<div class="row">
		<div class="col-md-12 text-center">
			<h1><u> Add New Post</u></h1><hr>
		</div>
	</div>

	<div class="row">
		<form id="post_form" method="post" action="/create/post/">
			{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="col-md-2 text-center">
				<h3>Select Category</h3>



<select id="main_categories" style="margin-top:10px;"  size="1" class="form-control"> 
                <option value="0">Select Category</option>
                {% if categories %}
                {% for category in categories %}
				{% if category.level == 1 %}
                <option value="" data-lt={{ category.lt }} data-rt={{ category.rt }} >{{ category.name }}</option>
				{% endif %}
                {% endfor %}
                {% endif %}
            </select>



<select id="id_category" name="category" style="margin-top:10px;" size="1" class="form-control" disabled>
                <option>Select Sub-Category </option>
            </select>

				{% if form.category.errors %}
					{% for error in form.category.errors %}
						<div class="alert alert-danger">{{error|escape }}</div>
					{% endfor %}
				{% endif %}
			</div>	

		<div class="col-md-8" style="padding:20px 0;">

			<div class="row form-group">
				<div class="col-md-1 col-sm-1">
					<label for="{{ form.post_name.id_for_label }}" class="col-md-2"> Post Name:</label>
				</div>
				<div class="col-md-10 col-sm-10">
					<input type="text" name="post_name" maxlength="100" id="{{ form.post_name.id_for_label }}" class="form-control" value="{{ form.post_name.value }}"/>
				</div>
				<div class="col-md-1 col-sm-1">
				</div>
				{% if form.post_name.errors %}
					{% for error in form.post_name.errors %}
						<div class="alert alert-danger">{{error|escape }}</div>
					{% endfor %}
				{% endif %}
			</div>

			<textarea name="content" id="{{ form.content.id_for_label }}">
			{{ form.content.value }}&nbsp;
			</textarea>
			<script src="http://cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>
			<!--<script src="http://cdn.ckeditor.com/4.4.7/basic/ckeditor.js"></script>
			<script src="http://cdn.ckeditor.com/4.4.7/full/ckeditor.js"></script>-->
			<script>
				// Replace the <textarea id="editor1"> with a CKEditor instance, using default configuration.
				CKEDITOR.replace('content');
			</script>
			{% if form.content.errors %}
             	{% for error in form.content.errors %}
                   	<div class="alert alert-danger">{{error|escape }}</div>
                {% endfor %}
            {% endif %}

		
			<div class="row ">
				<div class="col-md-6">
					<label for="{{ form.transcript.id_for_label }}" class="col-md-2"> Transcript:</label>
					<textarea name="transcript" id="{{ form.transcript.id_for_label }}" class="form-control">{{ form.transcript.value }}</textarea>
				 {% if form.transcript.errors %}
                 	{% for error in form.transcript.errors %}
                    	<div class="alert alert-danger">{{error|escape }}</div>
                    {% endfor %}
                 {% endif %}
				</div>


				<div class="col-md-6">
					<label for="{{ form.keywords.id_for_label }}" class="col-md-2"> Keywords:</label>
					<input type="text" name="keywords" maxlength="500" id="{{ form.keywords.id_for_label }}" class="form-control" value="{{ form.keywords.value }}"/>
					{% if form.keywords.errors %}
                    	{% for error in form.keywords.errors %}
                        	<div class="alert alert-danger">{{error|escape }}</div>
                    	{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-md-2 text-center" style="padding-top:10px;">
			<div><input type="submit" value="Publish" name="publish" class="btn btn-lg btn-success"/></div><br>	
			<div><input type="submit" value="Save as Draft" name="draft" class="btn btn-lg btn-primary"/></div><br>
			{% if request.user.is_staff %}
			<div><input type="submit" value="Publish and Create Another" name="publishandcreate" class="btn btn-lg btn-success"/></div><br>	
			{% endif %}
		</div>
		</form>
	</div>		

<div class="container text-center">
<div class="row">
	<div id="dropbox" class="col-md-offset-2 col-md-5" style="height:250px; border:2px dashed red;">
	<h2>"Drop files here"</h2><br>
	<p class="lead">Avoid special characters like @ $ % & $ ^ in filenames </p>
	</div>
	
	<div class="col-md-offset-1 col-md-3">
		
		<p class="lead"> <u>Download File</u></p>
		<input type="file" id="downloadfile"/>
	</div>
</div>



    <div id="progress-bar" class="progress">
        <div class="progress-bar"></div>
    </div>


</div>



{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'html/js/sisyphus.min.js' %}"></script>
<script type="text/javascript"> 
// Code to auto save form text while typing
$( function(){
	$("#post_form").sisyphus();
});

//Ajax to load leaf categories on selecting main category
$("#main_categories").change(function(){var selected=$("#main_categories :selected");$.get('/updateleafcategory/',{"category_lt":selected.data("lt"), "category_rt":selected.data("rt")} , function(data){$("#id_category").html(data); $('#id_category').prop("disabled", false);console.log(data);});})
</script>

<script type="text/javascript" src="{% static 'html/js/rackspace-upload.js'%}"></script>

{% endblock %}
