{% extends 'content_management/content_management_dashboard_base.html' %}
{% block title %} {{ type|capfirst }} : dashboard {% endblock %}
{% block body %}     

<div class="container">
<ul class="nav nav-pills">
{% ifequal type "published" %} 
  <li role="presentation" class="active"><a href="/dashboard/posts/published/">Published</a></li>
  <li role="presentation"><a href="/dashboard/posts/pending/">Pending</a></li>
  <li role="presentation"><a href="/dashboard/posts/drafts/">Drafts</a></li>
  <li role="presentation"><a href="/dashboard/posts/trash/">Trash</a></li>
{% endifequal %}
{% ifequal type "pending" %} 
  <li role="presentation"><a href="/dashboard/posts/published/">Published</a></li>
  <li role="presentation" class="active"><a href="/dashboard/posts/pending/">Pending</a></li>
  <li role="presentation"><a href="/dashboard/posts/drafts/">Drafts</a></li>
  <li role="presentation"><a href="/dashboard/posts/trash/">Trash</a></li>
{% endifequal %}  
{% ifequal type "drafts" %} 
  <li role="presentation"><a href="/dashboard/posts/published/">Published</a></li>
  <li role="presentation"><a href="/dashboard/posts/pending/">Pending</a></li>
  <li role="presentation" class="active"><a href="/dashboard/posts/drafts/">Drafts</a></li>
  <li role="presentation"><a href="/dashboard/posts/trash/">Trash</a></li>
{% endifequal %}  
{% ifequal type "trash" %} 
  <li role="presentation"><a href="/dashboard/posts/published/">Published</a></li>
  <li role="presentation"><a href="/dashboard/posts/pending/">Pending</a></li>
  <li role="presentation"><a href="/dashboard/posts/drafts/">Drafts</a></li>
  <li role="presentation" class="active"><a href="/dashboard/posts/trash/">Trash</a></li>
{% endifequal %}  

<a class="btn btn-default" href="http://teachoo.herokuapp.com/create/post/">Create New Post</a>
<a class="btn btn-default" href="/reorder/">Reorder Posts</a>
</ul>
         {% if warnings %}
        <div class="alert alert-dismissable alert-warning">
            <button data-dismiss="alert" class="close" type="button">×</button>
            <h4>Warning!</h4>
             {% for warning in warnings %}
              <p> {{ warning }} </p>
             {% endfor %}
        </div>
         {% endif %}


			{% if posts %}
			{% regroup posts by category.url as post_grouped %}
			<form id="action_form" method="POST">
			{% csrf_token %}
		<div id="accordion">
				{% for post_group in post_grouped %}
					<h3>{{ post_group.grouper }}</h3>
					<!--<p class="lead text-center">{{ post_group.grouper }}</p>-->
					<div>
					<table class="table">
						{% for post in post_group.list %}
						<tr>
							<td><input type="checkbox" name=id{{ post.id }} value={{ post.id }} /></td>
							<td>{{ post.post_name }}</td>
							<td><a href="/edit/post/{{ post.id }}/">Edit</a></td>
						<tr>
						{% endfor %}
					</table>
					</div>
				{% endfor %}
		</div>
			{% if type == "published" or type == "pending" %}
            <button type="submit"  name="action" value="draft" >Send to Drafts</button>
            <button type="submit"  name="action" value="trash" >Move to Trash</button>
        {% elif type == "drafts" %}
            <button type="submit"  name="action" value="trash" >Move to Trash</button>
        {% elif type == "trash" %}
            <button type="submit"  name="action" value="delete" > Delete Permanently</button>
            <button type="submit" name="action" value="draft" > Move to Drafts </button>
        {% endif %}
	</form>	
		{% else %}
		<div class="jumbotron">
			<h3>No posts here! </h3>
		</div>
			{% endif %}


</div>
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
{% endblock %}
{% block scripts %}
  <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
  <script>
  $(function() {
    $( "#accordion" ).accordion({
	heightStyle:"content", collapsible:true
    });
  });
  </script>
{% endblock %}
