{% extends 'webapp/base.html' %}
{% load static %}

{% block head_title %} {% if requested_post %} {{ requested_post.post_name|capfirst }} {% else %} {{ requested_posts.0.post_name|capfirst }} {% endif%} {% endblock %}
{% block navbar_header %} 
<a class="visible-sm visible-xs navbar-brand" href="#sibblings"><i class="fa fa-chevron-left"></i></a>
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans|Open+Sans">
<link rel="stylesheet" type="text/css" href="{% static 'html/css/custom.css' %}">
<style>
body{
background-color:#fafafa;
line-height:1.5;
}
.bg-white{
background-color:white;
box-shadow:0 1px 2px rgba(0,0,0,.1);
border-color:#f1f1f1;
border-radius:3px;
}
.toggle-content{
color:#777;
border-radius:5px;
background-color:#fdfdfd;
}
.question{
cursor:pointer;
color:#333;
border-radius:5px;
border-bottom:2px solid #f2f2f2;
background-color:#FAFAFA;
padding:5px;
}
.questionanswer{
margin-top:5px;
border-radius:5px;
background-color:#FAFAFA;
}


.post-images{
width:100%;
}
@media(min-width:992px){
.post-images{
width:75%;
display:block;
margin-left:auto;
margin-right:auto;
}
.enlarged{
width:100%;
}
#post-name{
font-size:26px;
}
}
</style>

{% endblock stylesheets %}


{% block metacontent %}

{% if requested_post %}
	<meta name="description" content="{{ requested_post.title }}">
	<meta name="author" content="{{ requested_post.author.username }}">
	<meta property="og:title" content="{{ requested_post.post_name }}">
	<meta property="og:description" content="{{ requested_post.transcript|truncatechars:60 }}">
{% else %}
	<meta name="description" content="{{ requested_posts.0.title }}"> 
	<meta property="og:title" content="{{ requested_post.0.post_name }}">
{% endif %}

{% endblock metacontent %}

{% block body %}

<div class="container" >
	<div class="row">
		{% if requested_posts %}
			<div class="page-header">
				<a href="/subjects{{requested_post.category.url }}"><i class="fa fa-chevron-left"></i> {{requested_post.category.name|capfirst }}</a>
				<h3 class="text-center">{{ requested_post.post_name|capfirst }}</h3>
			</div>
			{% for post in requested_posts %}		
				<div class="well well-lg">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"><a href='/subjects{{post.url}}author/{{post.author.username}}'>{{ post.post_name|capfirst }}: {{post.post_name|capfirst}}</a></h3>{{ post.author.username }}
						</div>
					</div>									
				</div>
			{% endfor %}
		{% else %}

		<div class="col-md-9">
				<ol class="breadcrumb" style="background-color:transparent;">
					{% if requested_post.category.parent.parent %}
					<li><a href="/subjects{{requested_post.category.parent.parent.url }}">{{requested_post.category.parent.parent.name | capfirst}}</a></li>
					{% endif %}
					{% if requested_post.category.parent %}
					<li><a href="/subjects{{requested_post.category.parent.url }}">{{requested_post.category.parent.name|capfirst}}</a></li>
					{% endif %}
					<li class="active"><strong>{{requested_post.category.name | capfirst}}</strong></li>
				</ol>
			<div id="content" class="bg-white">
				<div>
					<h3 class="text-center" id="post-name" style="font-weight:bold;padding-top:5px;font-family:'Open Sans',Helvectica">{{ requested_post.post_name|title }}</h3>
					<p style="color:#999; padding:5px;">{{requested_post.date_time_created|date}} by {{requested_post.author.username|title}}</p>	
				</div>
				<div class="post_content" style="padding:5px;font-family:'Droid Sans',Helvectica;font-size:17px">
				
				{% autoescape off %}
					{{ requested_post.content }}
				{% endautoescape %}
				</div>
			</div>
			<ul class="pager">
				<li id="next" class="disabled"><a class="next" href="">Next &rarr;</a></li>					
			</ul>
{% if requested_post.transcript %}
<div class="text-center">
<hr>
<p class="lead">Transcript</p>

<p id="transcript" style="text-align:left;">{{ requested_post.transcript }}</p>
<button class="btn btn-default " id="show-more">Show More</button>

</div>
{% endif %}
		</div>
		
		

		<div class="col-md-3">
			{% if sibbling_posts %}
				<div class="list-group" style="padding-top:20px;">
          			<a class="list-group-item text-center lead"  style="color:#428bca;font-weight:bold;" href="/subjects{{ requested_post.category.parent.url }}"><u>{{ requested_post.category.name|capfirst }}</u></a> 
					<div id="sibblings">	
						{%for post in sibbling_posts %}
							{% if post.url == requested_post.url and post.author == requested_post.author %}
								<a class='list-group-item active' href='/subjects{{post.url}}author/{{post.author.username}}'>{{post.post_name|capfirst}}</a>
							{% else %}
								<a class='list-group-item' href='/subjects{{ post.url }}author/{{ post.author.username }}'> {{post.post_name|capfirst}}</a>
							{% endif %}	
						{% endfor %}
					</div>
				</div>
			{% endif %}
			{% if next_category %}
				<div class="list-group">
					<a class="list-group-item text-center lead" style="color:#428bca;font-weight:bold;" href="/subjects{{ next_category.url }}"><u>{{next_category.name|title}}</u>&nbsp;&rarr;</a>					
				</div>
			{% endif %}
		</div>
{% endif %}
</div>
<div class="row">
<div id="disqus_thread" class="col-md-9"></div>
</div>
</div>
{% endblock %}
{% block scripts %}

<script type="text/javascript">
	//Disqus Comments
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'teachoo-1';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
$(document).ready(function(){
	// Initialize toggle content to hide answer and show "view answer" button
	initToggleContent();

	// Update pager links and next category links
	initPagerLinks();

	// Initialize transcript div to collapse transcript and add "show-more" button
	initTranscript();	

	//Enlarge Post Images on click
	$(".post-images").click(function(){
		$(this).toggleClass('enlarged');
	});
});

initToggleContent = function(){
	var PostContent = $(".post_content").html();
	PostContent = PostContent.replace(new RegExp("--answer--","g"),"<div class=\" hidden toggle-content\">")
	PostContent = PostContent.replace(new RegExp("--endanswer--","g"),"</div>")
	$(".post_content").html(PostContent);
	$("<a class=\"toggle-button \">View Answer</a>").insertBefore(".toggle-content");
	$(document).on('click', ".toggle-button", function(){
		$(this).next(".toggle-content").toggleClass("hidden");
		if($(this).html() === "View Answer"){
			$(this).html("Hide Answer");
		} else{
		$(this).html("View Answer");
		}
	});
}

initPagerLinks = function(){
	next = $("#sibblings .active").next();
	next_category = "{{next_category.id}}";
	if (next.length>0){
		$(".pager #next").removeClass("disabled");
		$(".pager .next").html( next.html() + "&nbsp;&rarr;");
		$(".pager .next").attr("href", next.attr("href"));
	} else if(next_category){
		$(".pager #next").removeClass("disabled");
		$(".pager .next").html("{{next_category.name|title}}&nbsp;&rarr;");
		$(".pager .next").attr("href", "/subjects{{next_category.url}}");
	}
}

initTranscript = function(){
	$('#transcript').css({height:'30px', overflow:'hidden'});
	$('#show-more').on('click', function() {
   		var $this = $('#transcript');
   		if ($this.data('open')) {
       		$this.animate({height:'30px'});
       		$this.data('open', 0);
			$('#show-more').html("Show More");

   		} else {
       		$this.animate({height:'100%'});
       		$this.data('open', 1);
			$('#show-more').html("Show Less");
   		}
	});
}
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

{% endblock %}
